{% extends 'base.html.twig' %}

{% block title 'Mes projets' %}

{% block body %}

    <h1>Liste de tous mes projets sdb:<h1>
        {% for project in projectsBathroom %}
        <a href="{{ path('projectBath.show', {slug: project.slug, id: project.id}) }}">
            {{ project.bathroomProjectName }}</a><br>   
        {% endfor %}

        <br><h1>Liste de tous mes projets chambre:<h1>
        {% for project in projectsRoom %}
        <a href="{{ path('projectRoom.show', {slug: project.slug, id: project.id}) }}">{{ project.roomProjectName }}</a><br>   
        {% endfor %}

    {% include 'product/paint.index.html.twig' %}<br> 

    {% include 'product/bathtub.index.html.twig' %}<br>

    {% include 'product/shower.index.html.twig' %}

    {% include 'product/sink.index.html.twig' %}

    {% include 'product/toilets.index.html.twig' %}

{% endblock %}
