<h1>Nos baignoires</h1>
<hr>
<div class="card-deck">
    {% for bathtub in productBathtub %}
        <div class="card">
            <img class="card-img-top" src="{{ bathtub.bathtubUrlImage }}" alt="Card image cap">
            <div class="card-body">
                <a href="{{ path('productBathtub.show', 
                {slug: bathtub.slug, id: bathtub.id}) }}">
                    <h6 class="card-title">{{ bathtub.bathtubName }} </h6></a>
                <p class="card-text">{{ bathtub.bathtubPrice }} €</p>
            </div>
        </div>
    {% endfor %}     
</div>