{% extends 'base.html.twig' %}

{% block title product.toiletsName %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>{{product.toiletsName}}<h1>
            Prix : {{product.toiletsPrice}} €<br>
            <img src="{{product.toiletsUrlImage}}">      
    </div>
</div>

{% endblock %}