{% extends 'base.html.twig' %}

{% block title product.showerName %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>{{product.showerName}}<h1>
            Prix : {{product.showerPrice}} €<br>
            <img src="{{product.showerUrlImage}}">      
    </div>
</div>

{% endblock %}