{% extends 'base.html.twig' %}

{% block title product.sinkName %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>{{product.sinkName}}<h1>
            Prix : {{product.sinkPrice}} €<br>
            <img src="{{product.sinkUrlImage}}">      
    </div>
</div>

{% endblock %}