<br><br> Nos lavabos : <br>
    <div class="contain">
        <div class="row__products">
            <div class="row__inner">
           
            {% for product in products %}
                {% if product.productType == 3 %}
              <div class="tile">
    
                <div class="tile__media">
                        
                    <a href="{{ path('product.show', {slug: product.slug, id: product.id}) }}">
                        <img class="tile__img" src="{{ product.productUrlImage }}"<br>
                    
                </div>
                    <p> {{ product.productName }} <br> {{ product.productPrice }} €</p>
              </div> 
              {% endif %}
              {% endfor %}
 
            </div>
        </div>
    </div>
